
/* 720455 251 */
.main .pic {
    position: relative;
    float: left;
    margin: 10px 10px 0 10px;
    width: 720px;
    height: 455px;
}
.main .pic img {
    width: 100%;
    height: 100%;
}
.main .pic .lfbtr {
    position: absolute;
    left: 0;
    top: 50%;
    width: 25px;
    height: 28px;
    border-radius: 0 14px 14px 0;
    background: rgba(0, 0, 0, 0.3)
}
.main .pic .lfbtr:hover {
    background: rgba(0, 0, 0, 0.5)
}
.main .pic .lfbtr::after {
    content: "\e697";
    font-family: 'iconfont';
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.main .pic .rtbtr {
    position: absolute;
    right: 0;
    top: 50%;
    width: 25px;
    height: 28px;
    border-radius: 14px 0 0 14px;
    background: rgba(0, 0, 0, 0.3)
}
.main .pic .rtbtr:hover {
    background: rgba(0, 0, 0, 0.5)
}
.main .pic .rtbtr::after {
    content: "\e6a7";
    margin-left: 3px;
    font-family: 'iconfont';
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.main .pic .pic-list {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    padding-top: 2px;
    bottom: 10px;
    width: 102px;
    height: 16px;
    border-radius: 10px;
    background:rgba(255, 255, 255, 0.5)
}
.main .pic .pic-list a {
    display: block;
    float: left;
    margin-left: 7px;
    width: 12px;
    height: 12px;
    border-radius: 8px;
    background-color: #fff;
}
.main .pic .pic-list a:hover {
    background-color: #c81623;
}
.rightnav {
    float: right;
    margin-top: 10px;
    width: 249px;
    height: 455px;
}
.rightnav .news {
    height: 164px;
}
.rightnav .news-hd {
    height: 32px;
    line-height: 32px;
    border: 1px solid #e8e8e8;
    border-bottom: 0px;
}
.rightnav .news-hd h4 {
    float: left;
    margin-left: 15px;
    font-size: 14px;
    color: #333;
}
.rightnav .news-hd a {
    float: right;
    margin-right: 20px;
    font-size: 13px;
}
.rightnav .news-hd a::after {
    content: "\e6a7";
    font-family: 'iconfont';
}
.rightnav .news-bd {
    height: 132px;
    padding: 10px 15px;
    border: 1px solid #e8e8e8;
    border-top: 1px dotted #e8e8e8;
    
}
.rightnav .news-bd li {
    height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.rightnav .lifeservice {
    height: 210px;
    margin-left: 1px;
}
.lifeservice ul li a {
    display: block;
    position: relative;
    float: left;
    margin-left: -1px;
    margin-top: -1px;
    width: 63px;
    height: 70px;
    border: 1px solid #e8e8e8;
    text-align: center;

}
.lifeservice ul li a em {
    display:block;
    margin-top: 47px;
}
.lifeservice .tel {
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url("../images/sprites.png") no-repeat -17px -16px ;
}
.lifeservice .air {
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url("../images/sprites.png") no-repeat -78px -16px ;
}
.lifeservice .movie {
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url("../images/sprites.png") no-repeat -141px -16px ;
}
.lifeservice .game {
    display: block;
    position: absolute;
    top: 12px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url("../images/sprites.png") no-repeat -206px -16px ;
}
.rightnav .recom {
    margin-top: 6px;
}
.td-recommend {
    margin-top: 11px;
    height: 164px;
    background-color: #ebebeb;
}
.td-recommend .title {
    float: left;
    width: 209px;
    height: 100%;
}
.td-recommend .title a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/recommend.png) no-repeat center #5c5251;
}
.td-recommend .items li {
    float: left;
    width: 247px;
    height: 144px;
    margin: 10px 0;
    border-left: 1px solid #ddd;
}
.td-recommend .items li a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../upload/guanggao.png) no-repeat center;
    transition: margin-left 0.4s;
}
.td-recommend .items li a:hover {
    margin-left: 10px;
}
.floor .jiadian .box-bd {
    width: 1205px;
}
.floor .jiadian .box-hd {
    height: 60px;
    border-bottom: 2px solid #c81623;
}
.floor .jiadian .box-hd h3 {
    float: left;
    margin-top: 30px;
    font-size: 18px;
    color: #c81623;
}
.floor .jiadian .box-hd .tab_list {
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.floor .jiadian .box-hd .tab_list ul  li {
    float: left;
}
.floor .jiadian .box-hd .tab_list a {
    padding: 0 15px;
}
.jiadian .tab_content .w209 {
    float: left;
    width: 209px;
    height: 360px;
    background-color: #f9f9f9;
}
.jiadian .tab_content .w209 .hd li a {
    float: left;
    display: block;
    margin-left: 10px;
    text-align: center;
    line-height: 35px;
    width: 86px;
    height: 35px;
    border-bottom: 1px solid #ededed;

}
.jiadian .tab_content .w209 .sale {
    float: left;
    width: 209px;
    height: 255px;
    text-align: center;
}
.jiadian .tab_content .w209 .sale img {
    margin-top: 23px;
}
.jiadian .tab_content .w328 {
    float: left;
    width: 328px;
    height: 360px;
    text-align: center;
    background-color: #aed6d8;
}
.jiadian .tab_content .w328 img {
    margin-top: 38px;
}
.jiadian .tab_content .w220 {
    float: left;
    width: 220px;
    height: 360px;
    border-right: 1px solid #ededed;
}
.jiadian .w220 .up ,
.jiadian .w220 .down {
    position: relative;
    width: 220px;
    height: 180px;
    border-bottom: 1px solid #ededed;
}
.jiadian .w220 .up img ,
.jiadian .w220 .down img {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.jiadian .tab_content .w221 {
    float: left;
    width: 221px;
    height: 360px;
    text-align: center;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.jiadian .tab_content .w221 img {
    margin-top: 72px;
}
.jiadian .tab_content .w222 .up ,
.jiadian .tab_content .w222 .down {
    position: relative;
    float: left;
    width: 222px;
    height: 180px;
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}
.jiadian .tab_content .w222 .up img ,
.jiadian .tab_content .w222 .down img {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.w209 .sale img:hover ,
.w328 img:hover ,
.w220 .up img:hover ,
.w220 .down img:hover ,
.w221 img:hover ,
.w222 .up a:hover,
.w222 .down img:hover {
    margin-left: 4px;
}